<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans	
						http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
						http://www.springframework.org/schema/security
						http://www.springframework.org/schema/security/spring-security-3.2.xsd" >

	
	<!-- Page auto généré par Spring-->	 
	<http auto-config="true">
		<intercept-url pattern="/pages/*" access="ROLE_ADMIN" />
		<intercept-url pattern="/educ/*" access="ROLE_USER, ROLE_ADMIN" />
		<form-login login-page="/login.xhtml" authentication-success-handler-ref="authenticationBean" authentication-failure-url="/login-failure.xhtml" />
		<logout
				logout-url="/j_spring_security_logout"
				logout-success-url="/index.xhtml" 
    			invalidate-session="true"  />
		</http>	
	

<!-- default-target-url="/educ/home.xhtml" -->
	
	<authentication-manager> 
		<authentication-provider >
	  
			<jdbc-user-service data-source-ref="dataSource"
				
 				  users-by-username-query="
		      select login_educateur, mdp_educateur, enabled, id_educateur
		      from educateur where login_educateur= ? "
 				
		  	 authorities-by-username-query="
		      select login_educateur, authority from educateur, roles   
		      where id_educateur = user_id and login_educateur = ? " 
			
			
			
			/>
		
		
       </authentication-provider>
  
	</authentication-manager>
		
</beans:beans>